body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font: 14px sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30%;
  height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.36);
}

h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}
